@use "../abstracts" as *;

/* ==============================
 * Layout | Header
 * ------------------------------ */
.navbar-brand {
  img {
    height: 50px;
  }
}
.header {
  position: relative;
  background-image: url(../images/hero.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
  .hero-info {
    @media screen and (min-width: 768px) {
      width: 58%;
    }
    margin: 11rem 2rem 2rem;
    padding: 30px 40px;
    background: rgba(0, 0, 0, 0.3);
    h1 {
      color: $yellow;
    }
  }
}

.navbar-dark.bg-dark {
  transition: 0.3s;
}

.nav-item {
  &.active {
    .nav-link {
      color: #fff;
    }
  }
}

.nav-link {
  color: #FAEDA4;
  font-size: 16px;
  margin-right: 1rem;
  &:hover {
    color: #fff;
  }
}
