@use "../abstracts" as *;

/* ==============================
 * Base | Global
 * ------------------------------ */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);

  background-color: #1B2327;
  color: var(--clr-neutral-400);
}

p:not([class]),
ul:not([class]),
li:not([class]) {
  max-width: 60ch;
}

